@import "./../../scss/glabal.scss";
.superInput {
  color: black;
  height: 2.2rem;
  font-size: 1rem;
  margin-right: 5px;
  outline: none;
  border: none;
  background-color: $color-button-default;
  padding: 2px 7px;
  &:focus {
    background-color: $color-input-focus;
  }
}

.errorInput {
  border: 1px solid #ad0000;
  background: #e6a1a1;
  font-size: 1rem;
  height: 2rem;
  margin-right: 5px;
  padding: 3px 7px;
}
