@import "./../../scss/global.scss";

ul {
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
}
li {
  display: grid;
  grid-template-columns: 90% 10%;
  justify-items: space-between;
}

.header {
  font-size: 1.7rem;
  font-weight: 600;
  color: $color-sand !important;
  cursor: pointer;
}

.btnsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.filterBtns {
  // justify-self: center;
  padding: 7px 9px;
}

.btnRemove {
  margin-left: 1rem !important;
  margin-bottom: 9px !important;
}
