@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins";
  color: #e1e8eb;
}
.superInput {
  color: black;
  height: 2rem;
  font-size: 1rem;
  margin-right: 5px;
  border: 1px solid #383838;
  background-color: #dbe6fd;
  padding: 2px 7px;
}

.errorInput {
  border: 2px solid #ad0000;
  background: #e6a1a1;
  font-size: 1rem;
  height: 2rem;
  margin-right: 5px;
  padding: 3px 7px;
}
