@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "./../../scss/glabal.scss";

.default {
  padding: 9px 27px;
  text-transform: uppercase;
  color: #464646 !important;
  text-align: center;
  transition: all 0.4s;
  font-weight: 400;
  background-color: $color-button-default;
  border: none;
  font-size: 13px;
  margin-right: 5px;
}
.default:hover {
  color: $color-body !important;
  background-color: $color-sand;
}
.default:disabled {
  color: $color-body;
  background-color: $color-sand;
  opacity: 0.6;
}

.red {
  background-color: $color-btn-red;
  color: #fdc3c3 !important;
  &:hover {
    background-color: $color-btn-red-hover;
    color: #ff9393 !important;
    border: none;
  }
}

.activeFilter {
  background-color: $color-sand;
  font-weight: 500;
}
