@import "./../../scss/glabal.scss";
.errorMessage {
  display: block;
  color: $color-btn-red !important;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.input {
  width: 17rem;
}
.btnAdd {
  background-color: $color-btn-add;
  width: 3rem;
  padding: 9px;
  border: none;
  color: $color-body;
  justify-self: end;
  // margin-left: 7rem;
  &:hover {
    background-color: $color-btn-add-hover;
  }
}

.wrapper {
  display: grid;
  margin-top: 1rem;
  justify-content: space-between;
  grid-template-columns: 87% 13%;
  grid-auto-rows: 2.4rem;
}
