@import "./../../scss/global.scss";
.errorMessage {
  display: block;
  text-transform: uppercase;
}
.textField {
  input {
    color: $color-body !important;
  }
  label {
    font-size: 1.3rem;
  }
}

.wrapper {
  // display: grid;
  // margin-top: 1rem;
  // justify-content: space-between;
  // grid-template-columns: 77% 23%;
  // grid-auto-rows: 2.4rem;
  // width: 24.5rem;
}
