@import "./../../scss/glabal.scss";
.errorMessage {
  display: block;
  color: $color-btn-red;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.btnAdd {
  background-color: #536890;

  &:hover {
    background-color: #47597e;
  }
}

.wrapper {
  display: grid;
  margin-top: 1rem;
  justify-content: space-between;
  grid-template-columns: 82% 17%;
  grid-auto-rows: 2.4rem;
  align-items: center;
}
