@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "./../scss/global.scss";
* {
  font-family: "Poppins";
  color: $color-body;
}
body {
  color: $color-body;
  // background-color: $color-mainbg;
  background-image: url("./../assets/bg.webp");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: $color-navbar;
  color: $color-body !important;
  display: flex;
  justify-content: space-between;
  padding: 0 2.5%;
}
.container {
  padding-top: 1.5rem;
}
.progress {
}
// .logout {
//   margin-left: 90%;
// }
