@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "./scss/glabal.scss";
* {
  font-family: "Poppins";
}
body {
  background-color: $color-background;
}

.paper {
  padding: 5px;
  margin: 1rem;
}
.addItem {
  margin: 1rem;
}
// .app {
//   display: grid;
//   justify-content: space-between;
//   grid-template-columns: 25% 25% 25% 25%;
//   padding: 2rem;
// }
