@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "./scss/global.scss";
* {
  font-family: "Poppins";
}
body {
  background-color: $color-background;
}

.paper {
  padding: 5px;
  margin: 1rem;
}
.addItem {
  margin: 1rem 0 1rem 0;
}
.navbar {
  background-color: $color-background-dark;
  color: $color-body !important;
}
