@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "Poppins";
  color: #e1e8eb;
}
body {
  background-color: #293b5f;
}
.app {
  padding: 2rem;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

ul {
  padding: 0;
  list-style-type: none;
  font-size: 1.5rem;
}
li {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-items: space-between;
}
.btn {
  justify-self: center;
  margin-bottom: 4px;
}
.isDone {
  opacity: 0.7;
}
.header {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #d4cca4;
}
.filterButtonsWrapper {
  margin-left: 1rem;
}
.wrapper {
  margin-left: 2rem;
}
.removeAll {
  margin-top: 5px;
}
/* .btnsWrapper {
  display: grid;
  grid-template-columns: 20% 25% 25% 25%;
  justify-items: space-around;
} */
