$color-btn-add: #536890;
$color-btn-add-hover: #47597e;
$color-btn-red: rgb(211, 71, 71);
$color-btn-red-hover: rgb(148, 46, 46);
$color-body: #e1e8eb;
$color-button-default: #dbe6fd;
$color-background: #293b5f;
$color-background-dark: #202d47;
$color-sand: #d4cca4;
$color-red: #e24343;
$color-input-focus: #faf8ec;
