$color-navbar: #6ddccf;
$color-mainbg: #ffefa1;
$color-body: #222831;
$color-paper: #f8f7de;
$color-white: #dbdbdb;
$color-btns: #94ebcd;
$color-btns-hover: #70b39b;
$color-btns-focus: #38a881;
$color-text: #31373f;
$color-deleteBtn: #f66969;
$color-deleteBtn-hover: #ff5a5a;
$color-deleteBtn-focus: #f63f3f;
