$color-navbar: #b97a95;
$color-mainbg: #716f81;
$color-body: #383838;
$color-paper: #f2e1c1;
$color-white: #dbdbdb;
$color-btns: #f6ae99;
$color-btns-hover: #e6947c;
$color-btns-focus: #e48b70;
$color-text: #31373f;
$color-deleteBtn: #e99497;
$color-deleteBtn-hover: #d47c7f;
$color-deleteBtn-focus: #c36b6e;
